<h1>confirmer la commande s'il vous plait!</h1>

<p>
   confirmer votre commande ici: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer commande</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>